$icon-font-path: '/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import "~bootstrap/scss/bootstrap";
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
//@import url(https://fonts.googleapis.com/css?family=Georgia:300,400,500,600,700);

/**
 * App-wide Styles
 */


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 769px) {
  .wrapper {
    display: flex;
    width: 100%;
  }

  #content {
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;

      width: calc(100% - 250px);
  }

  // active content for width>769px
  /*#content.active {
      width: 100%;
  }*/

  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    background: #00696c;
    color: #fff;
    transition: all 0.3s;

    left: 0;
  }

  // active sidebar for width>769px
  /*#sidebar.active {
    margin-left: -250px;
  }*/

  #sidebarCollapse {
    display: none
  }

  #dismiss {
    display: none
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
  }

  #content {
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
  }

  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    background: #00696c;
    color: #fff;
    transition: all 0.3s;

    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    left: -250px;
  }

  #sidebar.active {
    left: 0;
  }

  /* display .overlay when it has the .active class */
  .overlay.active {
    display: block !important;
    opacity: 1 !important;
  }

  /*#sidebar {margin-left: -250px;}
  #sidebar.active {margin-left: 0;}
  #content {width: 100%;}
  #content.active {width: calc(100% - 250px);}
  #sidebarCollapse span {display: none;}*/
}

/***********************************************/


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


[hidden] {
  display: none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
